/*Importando google fonte*/
@import url('https://fonts.googleapis.com/css2?family=inter:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    height: 100vh;
    background-color: hwb(233 36% 23%);
    background-image: url('img/pngwing.com\ \(9\).png');
    background-size: cover;
    background-position: right;
    background-size: 400px;
    background-repeat: no-repeat;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #240e8b;
    font-size: 1rem;
}
a:hover{
    color: #fff;
}
/*header*/
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #240e8b;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: #240e8b;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: #240e8b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

/*dropdown menu*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*hero*/
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #240e8b;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
form div{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    color: #240e8b;
}
input{
    color: #240e8b;
}
span input{
    width: 80%;
    padding: 10px;
    margin: 5px 0 20px 0;
    background:transparent;
    border-radius: 10px;
    border: 1px solid #240e8b;
    outline: none;
    color: hsl(266, 89%, 14%);
}
textarea{
    width: 80%;
    color: white;
    padding: 10px;
    margin-top: 5px;
    background: hsl(266, 89%, 14%) ;
    border: 1px solid #240e8b;
    border-radius: 10px;
    outline: none;
}
button{
    background-color: #e53653;
    padding: 10px 30px;
    
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
}
button:hover{
    background-color: #a20d26;
    cursor: pointer;
    
}
/*responsividade*/

@media (max-width: 992px) {
    .navbar .links, .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width:unset;
    }
}
